{% extends 'base.html.twig' %}

{% block title %}Edit DocumentRelation{% endblock %}

{% block body %}
    <h1>Edit DocumentRelation</h1>

    {{ include('document_relation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('document_relation_index') }}">back to list</a>

    {{ include('document_relation/_delete_form.html.twig') }}
{% endblock %}
