{% extends 'base.html.twig' %}

{% block title %}New DocumentRelation{% endblock %}

{% block body %}
    <h1>Create new DocumentRelation</h1>

    {{ include('document_relation/_form.html.twig') }}

    <a href="{{ path('document_relation_index') }}">back to list</a>
{% endblock %}
