{% extends 'base.html.twig' %}

{% block title %}DocumentRelation{% endblock %}

{% block body %}
    <h1>DocumentRelation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ document_relation.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('document_relation_index') }}">back to list</a>

    <a href="{{ path('document_relation_edit', {'id': document_relation.id}) }}">edit</a>

    {{ include('document_relation/_delete_form.html.twig') }}
{% endblock %}
