{% for classification in classifications %}
    <a title="{{ classification.title }}" class="nav-classification" href="{{ path('classification', { code: classification.code }) }}">
        {{ classification.code }}
    </a>
{% endfor %}
