{% extends 'base.html.twig' %}

{% block title %}Edit Document{% endblock %}

{% block body %}
    <h1>Edit Document</h1>

    {{ include('document/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('classification', {'code': code}) }}"
        class="btn btn-sm btn-blue stretched-link">
        back to list</a>

    {{ include('document/_delete_form.html.twig') }}
{% endblock %}
