{% extends 'base.html.twig' %}

{% block body_id 'document_post_show' %}

{% block body %}
    <div class="row">
        <div class="col-12 col-lg-8">
            {% if documents|length > 0 %}
                {% for document in documents %}
                    <div class="media shadow border rounded-lg p-3 mb-4">

                        <div class="media-body">
                            <h4 class="font-weight-light mb-0">
                                <a href="{{ path('document_show', { id: document.id}) }}">
                                {{ document.title }}
                                </a>
                            </h4>
                            <div class="document-text">
                                {{ document.text | raw }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div>There are {{ documents|length }} documents.</div>
            {% else %}
                <div class="text-center">
                    No documents have been posted yet.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}